.registration-form {

  box-sizing: border-box;
  padding: 3em;
  background: rgba(0, 0, 0, 0.213);
  width: 45%;
  
  background-position: center;
  margin: 5em auto 0; /* Added top margin */
  }
  
  .registration-form h1 {
    
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.5em;
    color: #4cae4c;
    background-color: #4cae4c;
  }
  
  .registration-form form {
    display: flex;
    flex-direction: column;
  }
  
  .registration-form input[type="text"],
  .registration-form input[type="email"],
  .registration-form input[type="tel"],
  
  .registration-form select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #727272;
    width: 100%;
  }
  
  .registration-form input[type="checkbox"] {
    margin-left: 10px;
  }
  
  .registration-form label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .registration-form span {
    display: block;
    margin-bottom: 20px;
    font-size: 1.5em; /* Typical font-size for h2 */
    font-weight: bold; /* Typical font-weight for h2 */
    text-align: center; /* Centers the text horizontally */
    color:#fff;
  }
  
  .registration-form button {
    padding: 20px;
    background-color: #1c3eff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30%;
    margin-left: 40%;
    margin-top: 10px;
  }
  
  .registration-form button:hover {
    background-color: #e61010;
  }
  .passenger-control label {
    font-family: Arial, sans-serif; /* Change the font family */
    font-size: 22px; /* Change the font size as needed */
    font-weight: bold; /* Optionally make it bold */
    color: #ffffff; /* Change the font color as needed */
    margin-bottom: 25px; /* Adjust the space below the label */
    text-align: left; /* Align the text to the right */
    display: block; /* Make label a block element to occupy its own line */
    width: 100%; /* Ensure the label is full width to align text properly */
    padding-left: 40px;
    position: relative; /* or absolute, fixed */
    top: 40px; /* Adjust the value as needed */
  }
  
  
  .passenger-control label {
    align-self: flex-start; /* Aligns the label to the start (left) */
  margin-bottom: 5px;
  }
  
  
  .passenger-input-control {
    display: flex;
    align-items: center;
    align-items: flex-end;
   
  }
  
  .passenger-input-control input[type="number"] {
    width: 60px; /* This sets the width of the input field */
  text-align: center;
  position: relative; /* or absolute, fixed */
  top: -20px; /* Adjust the value as needed */
  height: 52px; /* New height - adjust as needed */
  padding: 10px; /* Adjust padding for better text visibility and alignment */
  border-radius: 10px;
  }
  
  .passenger-input-control button {
    padding: 15px; /* Adjust padding to make buttons square or as needed */
    background-color: #1c3eff;
    border-radius: 10px;
    cursor: pointer;
    flex-shrink: 0;
    
    
  }
  
  .passenger-input-control button:hover {
    background-color: #ccc;
  }
  .passenger-input-control button:first-child {
    margin-right: 5px; /* Adds space between the minus button and the input */
    margin-bottom: 10px;
    width: 40px;
    margin-left: 60%;
    position: relative; /* or absolute, fixed */
    top: -10px; /* Adjust the value as needed */
  }
  
  .passenger-input-control button:last-child {
    margin-left: 5px; /* Adds space between the input and the plus button */
    margin-bottom: 10px;
    width: 40px;
    position: relative; /* or absolute, fixed */
    top: -10px; /* Adjust the value as needed */
  }
  .date-input {
    top: -30px;
    margin-left:320px;
    position: relative;
    width: 30%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px; /* This pushes the input down by 20 pixels */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    background-image: none;
    -webkit-appearance: none; /* Removes default styling specific to WebKit browsers */
    -moz-appearance: none;    /* Removes default styling specific to Mozilla browsers */
    appearance: none;         /* Removes default browser styling if supported */
  }
  
  
  
  /* You can also style the input for when the user hovers over it */
  .date-input:hover {
    border-color: #a8a8a8;
  }
  .date-label {
    font-family: Arial, sans-serif; /* Change the font family */
    font-size: 22px; /* Change the font size as needed */
    font-weight: bold; /* Optionally make it bold */
    color: #ffffff; /* Change the font color as needed */
    margin-bottom: 25px; /* Adjust the space below the label */
    text-align: left; /* Align the text to the right */
    display: block; /* Make label a block element to occupy its own line */
    width: 100%; /* Ensure the label is full width to align text properly */
    padding-left: 40px;
    position: relative; /* or absolute, fixed */
    top: 40px; /* Adjust the value as needed */
  }
  .number-of-days-input {
    top: -20px;
    margin-left:320px;
    position: relative;
    
    display: block;
   
    margin-bottom: 0px; /* This pushes the input down by 20 pixels */
    padding: 10px;
  
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    background-image: none;
   
   
    height: 40px; /* New height - adjust as needed */
    padding: 0px; /* Adjust padding for better text visibility and alignment */
    width: 30%; /* Adjust the width as needed */
    /* Other styling properties */
    margin-left: 320px;
    text-align: center;
   margin-top: 0px;

  }
  .days-label {
    font-family: Arial, sans-serif; /* Change the font family */
    font-size: 22px; /* Change the font size as needed */
    font-weight: bold; /* Optionally make it bold */
    color: #ffffff; /* Change the font color as needed */
    margin-bottom: 25px; /* Adjust the space below the label */
    text-align: left; /* Align the text to the right */
    display: block; /* Make label a block element to occupy its own line */
    width: 100%; /* Ensure the label is full width to align text properly */
    padding-left: 40px;
    position: relative; /* or absolute, fixed */
    top: 40px; /* Adjust the value as needed */

  }
 
  body {
    background: linear-gradient(90deg, #1e40af, rgba(30, 64, 175, 0));
    margin: 0;
    padding: 0;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/cosmicjourney-dab3e.appspot.com/o/background%2Fstele.jpg?alt=media&token=21f17c9e-9871-4371-9903-ae5d52f6e79e');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   
  }
/* Form.css */
.pet-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.pet-thumbnail {
  cursor: pointer;
  text-align: center;
  padding: 5px; /* Optional: to create some space around the image */
  border-radius: 60%; /* Optional: for round thumbnails */

  transition: border-color 0.3s; /* Smooth transition for border color */
}

.pet-image {
  width: 100px; /* Smaller width for thumbnails */
  height: 100px; /* Smaller height for thumbnails */
  object-fit: cover;
  border-radius: 50%;
}

.pet-thumbnail.selected {
  background-color: #1c3eff; /* Background color when selected */
  /* Other styles to indicate selection, like a shadow or different background */
}