/* src/styles/Planets.css */

.planet-page {
    display: grid;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/Bg/stele.jpg'); /* Update the path as needed */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat:repeat;
    
}

.planet-content {
    
    display: flex;
    justify-content: left;
    align-items: start; /* Align items at the top */
    width: 100%;
   
   color: aliceblue;
}

.planet-description {
    margin-left: 120px; /* Space between the image and the description */
    text-align: justify;
    max-width: 400px; /* Adjust width as needed to make the text more narrow */
    font-size: 20px; /* Change the font size to your desired value */
    font-family: Arial, sans-serif; /* Change the font family to your desired font */
    margin-top: 220px; /* Add some space at the top to move the text down */
}
.planet-specification-tables {
  
    padding: 0 24px;
    color: #ffffff;
    display: flex;
    justify-content: space-around; /* Distribute space evenly around the tables */
    align-items: center; /* Align tables vertically */
    width: 60%;
    margin-top: 20px;
    background: transparent;
    margin-left: 15%;
}

.planet-specification-tables table {
    border-collapse: collapse;
    margin: 0 20px; /* Spacing between tables */
}

.planet-specification-tables td {
    border: 1px solid #ccc; 
    padding: 15px;
    text-align: left;
}
.planeta-page h2 {
    font-family: 'Your Desired Font', sans-serif; /* Change to your desired font */
    font-size: 24px; /* Change to your desired font size */
    margin-top: 20px; /* Adjust to drop it down */
    text-align: right; /* Align the text to the right */
    margin-right: 35%;
    
}
