.planets-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 0; /* Ensure the text is above the image */
}
@media (max-width: 768px) {
    .planets-text h1 {
        font-size: 24px; /* Smaller font size for smaller screens */
    }
    .planets-text p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .planets-text h1 {
        font-size: 20px; /* Even smaller font size for very small screens */
    }
    .planets-text p {
        font-size: 14px;
    }
}
/* Even larger screens: min-width 1025px */
@media (min-width: 1025px) {
    .planets-text h1 {
        font-size: 68px; /* Even larger font size */
    }
    .planets-text p {
        font-size: 24px;
    }
}
.activitati img {
    width: 100%;
    height: auto; /* Adjusted to maintain aspect ratio */
    object-fit: cover;
    margin-top: -110px;
}
.orizont h1 {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 0; /* Ensure the text is above the image */
}


.orizont {
    margin-top: -110px; /* Adjust this value as needed */
    color: white;
    text-align: center;
}

.orizont img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.neptune-form {
    margin-top: 110px; /* Adjust this value as needed */
    color: white;
    text-align: center;
}
.neptune-form {
    position: absolute;
    top: 180%; /* Adjust as needed */
   right: 60%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    font-size: 20px; /* Adjust the size as needed */
    font-weight: bold; /* Optional: making the labels bold */
    font-size: 18px; /* Adjust the size as needed */
    /* Additional styling for the form container */
}