.booking-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border: 2px solid #f9f9f9;
  border-radius: 60px;
  padding: 1rem; /* Adjusted padding */
  margin: auto; /* Center the form in the available horizontal space */
  /* Max width of the form */
}

.form-group {
  display: flex;
  align-items: center;
  /* Removed flex-wrap to prevent wrapping on large screens */
}

/* Targeting specific form elements for consistent sizing and alignment */
.form-departure, .form-passengers, .form-control {
  flex: none; /* Do not grow or shrink */
  margin: 0.5rem; /* Consistent margin */
  padding: 0.5rem 1rem; /* Consistent padding */
  font-size: 1rem; /* Consistent font size */
  border: 1px solid #ccc; /* Standard border */
  border-radius: 4px; /* Consistent border-radius */
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: center;
}

.btn-red {
  padding: 1rem 2rem;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 30px;
  margin-top: 10px;
}

.btn-red:hover {
  background-color: rgb(217, 8, 8);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .booking-form {
    flex-direction: column;
    padding: 1rem;
  }

  .form-group {
    flex-direction: column;
    align-items: stretch; /* Make form elements stretch to full width */
  }

  .form-group > * {
    width: 100%; /* Full width for smaller screens */
  }

  .btn-red {
    width: 100%;
  }
}
.form-control{

  padding: 1rem 1rem;
  width: 200px;
  font-size: 20px;
  text-align: center;

}
.form-departure{
  padding: 1rem 1rem;
  width: 200px;
  font-size: 20px;

}
.form-passengers {
  padding: 1rem 1rem;
  width: 90px;
  font-size: 20px;
}

.form-group label {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
  display: block;
}

.booking-form-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
}

label {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
  cursor: pointer;
  transition: color 0.3s;
}

#destination,
#passengers {
  margin-top: 20px;
}
