.booking-form {
  display: flex;
  flex-direction: line;
  gap: 0rem;
  align-items: center; /* Align items in the center */
  font-size: 36px;
  
}

.form-group {
  display: flex;
  justify-content: space-between; /* Spread the inputs across the horizontal space */
}

.form-group > * {
  flex: 1; /* Each child of form-group takes equal space */
  margin: 0 0.5rem; /* Add margin for spacing */
  padding: 1rem 2rem;
  font-size: 15px;

}

.button-group {
  display: flex;
  justify-content: center; /* Center align the button */
  width: 100%;
}

.btn-red {
  padding: 1rem 2rem; /* Reduced padding for a narrower button */
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 140%; /* Adjust as per requirement */
  max-width: 400px; /* Maximum width */
  font-size: 30px;
}

.btn-red:hover {
  background-color: darkred;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
  }

  .form-group > * {
    margin: 0.5rem 0; /* Adjust margin for vertical layout */
  }

  .btn-red {
    width: 80%; /* Increase width on smaller screens */
  }
}
.form-passengers {
  padding: 1rem 2rem; /* Reduced padding for a narrower button */
  width: 30px;
  font-size: 20px;
}
.form-group label {
  font-size: 20px; /* Increase font size */
  font-weight: bold; /* Make font bold */
  margin-bottom: 10px; /* Add some space below the label */
  display: block; /* Make the label take up its own line */
}