/* src/components/ItemThumbnailsDemo.css */

.galleria-thumbnails {
    display: flex;
    align-items: center; /* Aligns items to the start of the cross axis, which is the top if flex-direction is row (default) */
    justify-content: center; /* Aligns items to the start of the main axis */
}

.thumbnail-image {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin: 5px auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: black !important; 
}

.main-image {
    max-width: 100%; /* Adjust the width as needed */
    max-height: 700px; /* Set a maximum height */
    object-fit: cover; /* This will ensure the image covers the area nicely */
    display: block;
    margin: auto;
}
.card {
    margin-left: 7cm;
}
.planet-page h1 {
    /* Add your specific styles for the <h1> tag here */
    text-align: right !important;
    color: #f11717; /* Example color */
    margin-bottom: 20px; /* Example spacing */
}